<h1>{{title}}</h1>

<form method="POST" action="/new">

    <label for="name">Username</label>
    <input type="text" id="username" name="username">

    <label for="messageText">Text</label>
    <input type="text" id="messageText" name="messageText">

    <input type="submit" value="Submit">

</form>